<html>
  <head>
    <title>EnteroMSTree - GrapeTree version {{version}}</title>
  </head>
  <body>
      <h1>GrapeTree (version {{version}})</h1>
      <p>GrapeTree is an awesome tree visualiser</p>
      
      
      <h2>Citation</h2>
      <p>EnteroMSTree - GrapeTree has not been formally published yet. If you use GrapeTree 
      please cite the website directly: https://github.com/martinSergeant/EnteroMSTree.<br><br>
      An extended citation could be:<br>
      M Sergeant, NF Alikhan, Z Zhou (2017) "GrapeTree: Phylogenetic visualisation for large genomic datasets", Available: https://github.com/martinSergeant/EnteroMSTree</p>
  </body>
</html>