<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" href='static/js/jquery-ui-1.11.4/jquery-ui.min.css'>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/grapetree.css">
</head>
<body>
<!--metadata div-->
<link rel="stylesheet" href="static/js/SlickGrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="static/js/SlickGrid/examples/examples.css" type="text/css"/>

<script src="static/js/SlickGrid/lib/firebugx.js"></script>

<script src="static/js/SlickGrid/lib/jquery-1.11.2.min.js"></script>
<script src="static/js/SlickGrid/lib/jquery-ui-1.11.3.min.js"></script>
<script src="static/js/SlickGrid/lib/jquery.event.drag-2.3.0.js"></script>


<script src="static/js/SlickGrid/slick.core.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellrangedecorator.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellrangeselector.js"></script>
<script src="static/js/SlickGrid/plugins/slick.cellselectionmodel.js"></script>
<script src="static/js/SlickGrid/slick.formatters.js"></script>
<script src="static/js/SlickGrid/slick.editors.js"></script>
<script src="static/js/SlickGrid/slick.grid.js"></script>
<script src="static/js/SlickGrid/slick.dataview.js"></script>

<script src= "static/js/tree/context.js"></script>

<script src='static/js/tree/grid.js'></script>
		


<!--information divs-->
<div id = 'welcome-div' style='background:white'>
<span id= 'welcome-div-close' class="glyphicon glyphicon-remove" style="float:right;margin-right:5px;zoom:1.5;display:none" onclick="$('#welcome-div').hide()"></span>
<p align='center'><h2>
<b>G</b>rape <b>T</b>ree
</h2>
</p>
To get started Drag and drop files into the browser window
<h4>Trees or Profile Data</h4>
<ul>
<li><b>Phlogenetic trees</b> These can be nexus or nwk format. 
</li>
<li>
<b>Profile Files</b> These are tab delimited text with columns as alleles and strains as rows (see the examples).
A header line is required, in which the strain columns and metadata columns need to start with a '#'. 
This requires the local server to be running
</li>
<li><b>Custom Format(.json)</b> Files genereated by this program which contain
the tree data as well as display information and any metadata.
</li>
</ul>
<h4>Metadata</h4>
<ul>
<li>
<b>Metadata files</b> The first column in the file corresponds to the node identifier in the tree. 
</li>
</ul>
</div>


<div id ='information-div' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-sm">
      <div id ="modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p align='center'><img id ='waiting-image'style = 'display:none' src= 'static/js/img/ms_failed_1.png'></img></p>
	<span id = 'modal-title'></span>
      </div>
      <div class="modal-body">
        <p id ='waiting-information'></p>
		<div  id ='param-panel' style = 'display:none'>
		   <label>Method</label>
		   <select id ='method-select'>
			   <option class='show-tooltip' title='MSTreeV2 uses a directed graph to handle missing data' value='MSTreeV2'>MSTreeV2</option>
			   <option class='show-tooltip' title='A traditional Minimum spanning tree + eBurst weighting' value='MSTree'>MSTree</option>
			   <option class='show-tooltip' title='FastME V2.0 is implemented for Neighbor-Joining phylogeny.' value='NJ'>Neighbour Joining</option>
		   </select>
	   </div>
      </div>
      <div class="modal-footer">
        <button id ="modal-ok-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='sidebar'>
	<div>
		<a class='show-tooltip' title="Databases of 100,000's of genomes" href="https://enterobase.warwick.ac.uk" target = '_blank'><img src="static/js/img/enterobase.png" alt="Enterobase" style="width:40px;height:45px;"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a class='show-tooltip' title='Github repository for this program' href="https://github.com/martinSergeant/EnteroMSTree" target = '_blank'><img src="static/js/img/GrapeTree.PNG" alt="GrapeTree" style="width:40px;height:50px;"></a>
		<h3 id="headertag" style="font-family: times, serif; font-size:12pt; font-style:italic">GrapeTree</h3>
	</div>
	<br>
	<div id='input-output-panel' class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'file-menu'> <b id='input-output-title'>Inputs/Outputs</b><span id = 'file-menu-icon' class='glyphicon glyphicon-menu-down'> </span></div>
		<div class = "panel-body" id ='file-menu-panel'>
		<div id ='load-panel'>
				<button title='Handles trees, profiles and metadata files' id = 'button-load-nwk' class = 'show-tooltip'> Load Files</button>
				<span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="$('#welcome-div').toggle()"></span>
			<br>
			<hr>
		</div>
			<div id='save-panel'>
					<button id ="save-tree-json">Save GrapeTree</button><br><br>
					<button id ="save-tree-nwk">Save to Newick Tree</button><br><br>
					<button id ="mst-download-svg">Download SVG</button><br>
			</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'mst-layout-menu'> <b id>Rendering</b><span id = 'mst-layout-menu-icon' class="glyphicon glyphicon-menu-right"></span></div>
		<div class = "panel-body" id ='mst-layout-menu-panel'>
			<div><input type='radio' name='render-method' class='render-method' value='automatic'/><b>Automatic</b></div>
			<div style='margin-left:20px;font-size:90%'><input id ='render-selected-only' type="checkbox" /> Selected Only</div>
			
			<div style="margin-top:20px"><input type='radio' name='render-method' class='render-method' value='static' checked /><b>Static</b></div>
			<div style='margin-left:20px;font-size:90%'><input id ='correct_link_length' type="checkbox" checked /> Real Branch Length</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'tree-menu'> <b id>Tree Layout</b><span id = 'tree-menu-icon' class='glyphicon glyphicon-menu-right'> </span></div>
		<div class = "panel-body" id ='tree-menu-panel'>
			<button id = 'button-goback' onclick='loadMSTree(tree_raw);if(current_metadata_file) {loadMetadataFile(current_metadata_file[0], current_metadata_file[1]);}'> Unmodified tree</button>
			<br><br>
			<div>
				<span onclick="$('#spinner-linklength').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Branch Scaling (%)</label><br>
				<div id = "slider-linklength" class ="slider-class">  </div><input type='text' style='width:39px;height:15px' id ='spinner-linklength' class='spin-group'>
			</div>
			
			<div class="show-tooltip" title="Collapse branches below a certain value">
				<span onclick="$('#spinner-collapse-nodes').spinner('value', 0)" class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Collapse Branches</label><br>
				<div id = "slider-collapse-nodes" class ="slider-class"></div><input type='text' style='width:39px;height:15px' id ='spinner-collapse-nodes' class='spin-group'>
			</div>
			<label><input id ='link-log-scale'type="checkbox" />Log Scale</label>
			<br>
			<hr>
			<div >
				<span onclick="$('#spinner-nodesize').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Node Size (%)</label><br>
				<div id = "slider-nodesize" class ="slider-class"></div><input type='text' style='width:39px;height:15px' id ='spinner-nodesize' class='spin-group'>
			</div>
			
			<div class="show-tooltip" title="Node size relative to number of strains">
				<span onclick="$('#spinner-relative-nodesize').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Node scaling (%)</label><br>
				<div id = "slider-relative-nodesize" class ="slider-class"></div><input type='text' style='width:39px;height:15px' id ='spinner-relative-nodesize' class='spin-group'>
			</div>
			<br>
			<button id = 'button-refresh'> Static Redraw </button>
			<br><br>
			<button id ="center-graph-button">Centre Tree</button>
			<hr>
			<p align = 'center'>
				<div id="rotation-div"><label> Drag Icon to Rotate:&nbsp;</label>
				<span id="rotation-icon" class="glyphicon glyphicon-refresh"></span>
				</div>
				<label>&nbsp;&nbsp;Zoom:&nbsp;</label>
				<span onclick= "javascript:the_tree.setScale(1.1,true)" class=' zoom-icon glyphicon glyphicon-zoom-in'></span>
				<span onclick= "javascript:the_tree.setScale(0.9,true)"class='zoom-icon glyphicon glyphicon-zoom-out'></span>
			</p>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'mst-link-menu'> <b id>Branch Style</b><span id = 'mst-link-menu-icon' class='glyphicon glyphicon-menu-right'> </span></div>
		<div class = "panel-body" id ='mst-link-menu-panel'>
			<label>For branches <br>longer than:</label>
			<input type='text' style='width:35px;height:15px' id ='spinner-hide-link-length' class='spin-group'>
			<table><tbody><tr>
			<td>
				<div style="opacity: 1;"><input type="radio" id="handle-long-branch-display" name="handle-long-branch" value="display" checked="" style="opacity: 1;">Display</div>
			</td>
			<td style="padding-left:10px">
				<div style="opacity: 1;"><input type="radio" id="handle-long-branch-hide" name="handle-long-branch" value="hide" style="opacity: 1;">Hide</div>
			</td>
			<td style="padding-left:10px">
				<div style="opacity: 1;"><input type="radio" id="handle-long-branch-cap" name="handle-long-branch" value="cap" style="opacity: 1;">Shorten</div>
			</td>
			</tr></tbody></table>
			<hr>
			<label><input id ='show-link-labels'type="checkbox" /> Branch Labels</label>
			<br>
			<label>Font Size:</label>
			<br>
			<div id = "slider-linkfontsize" class = "slider-class"></div><input type='text' style='width:20px;height:15px' id ='spinner-linkfontsize' class='spin-group'>
			<br>
			<label><input id ='show-link-tooltip' type="checkbox" checked /> Mouseover info</label>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'mst-node-menu'> <b id>Node Style</b><span id = 'mst-node-menu-icon' class="glyphicon glyphicon-menu-right"></span></div>
		<div class = "panel-body" id ='mst-node-menu-panel'>
			<label>Colour By:</label>
			<br>
			<select style="width:140px" id= 'metadata-select'>
			<option value='nothing'>No category</option></select>

			<hr>
			<label><input id ='show-node-labels'type="checkbox" checked /> Node Labels</label>
			<br><br>
			<label>Font Size:</label>
			<br>
			<div id = "slider-node-fontsize" class = "slider-class"></div><input type='text' style='width:20px;height:15px' id ='spinner-node-fontsize' class='spin-group'>
			<label>Label Text</label>
			<select id = 'node-label-text'></select>
			<label>Search in Label</label>
			<br>
			<input size="11" id ='search-metadata-input'><span id ='search-metadata-icon' class='add-data-icon glyphicon glyphicon-search'></span>

			<br>
			<label><input id ='show-node-tooltip' type="checkbox" checked /> Mouseover info</label>
			<br>
			<label><input id ='show-individual-segments' type="checkbox" /> Seperate Strains</label>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class ='panel-heading mst-menu-title' id= 'right-menu'> <b id>Context Menu</b><span id = 'right-menu-icon' class='glyphicon glyphicon-menu-right'> </span></div>
		<div class = "panel-body" id ='right-menu-panel'>
			<div class='open-context' id='mst-svg-x' style='font-size:110%;margin:10px'>GrapeTree</div>
			<div class='open-context' id='myGrid-x' style='font-size:110%;margin:10px'>Metadata</div>
			<div class='open-context' id='legend-svg-x' style='font-size:110%;margin:10px'>Figure Legend</div>
		</div>
		
	</div>
</div>

<div id = "graph-div" class="graph-overlay"></div>



<script src ="static/js/main/bootstrap.min.js"></script>

<script src ="static/js/main/bootstrap.min.js"></script>
<script charset="utf-8" src="static/js/main/d3.min.js"></script>
<script charset="utf-8" src="static/js/main/spin.min.js"></script>
<script charset="utf-8" src="static/js/tree/base_tree.js"></script>
<script charset="utf-8" src="static/js/tree/d3_m_tree.js"></script>
<script> var tree_id = null</script>

<!--
{% if tree_id%}
{% include 'ms_tree/enterobase_ms_tree.html' %}
{%endif %}
-->
<script charset="utf-8" src="static/js/controls.js"></script>
</body>
</html>
